<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{{.Title}}</title>
    </head>
    <header class="py-8 items-center">
        <div class="flex flex-row">
            <div class="basis-2/3 text-left">
                <h1 class="text-5xl font-extrabold">
                    Welcome to
                    <span class="text-gradient"
                        ><a href="/">{{ .ORG_NAME }}</a></span
                    >{{if .IsSignedIn }}, {{ .Name }}{{end}}
                </h1>
            </div>
            <div class="text-right basis-1/3">
                {{if .IsSignedIn }}
                <a
                    href="{{.LogoutUrl}}"
                    class="text-3xl font-bold outline outline-offset-8 outline-pink-500 rounded-md"
                    >Logout</a
                >
                {{end}}
            </div>
        </div>
    </header>
</html>
