{{ if ne .MojangUsername .PreviousMojangName }}
<div class="p-8 bg-white dark:text-amethyst-200 dark:bg-slate-900 drop-shadow relative rounded-xl">
    <h2 class="text-4xl dark:text-amethyst-600 font-bold mb-8">Check your information</h2>

    <div class="flex flex-row mb-8">
        <div class="basis-full">
            <h3 class="text-3xl dark:text-amethyst-600 font-semibold">Mojang</h3>
            <ul class="list-none">
                <li>Your account ID: {{.MojangId}}</li>
                <li>Your account username: {{.MojangUsername}}</li>
                {{ if .PreviousMojangName }}
                <h4 class="text-2xl dark:text-amethyst-600 font-semibold">Previous account notice</h4>
                <p>"{{ .PreviousMojangName }}" was previously used. This username will get removed from our allowlists and your new one "{{ .MojangUsername }}" will replace it.</p>
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="flex flex-row mb-8">
        <div class="basis-full">
            <h3 class="text-3xl dark:text-amethyst-600 font-semibold">Mastodon</h3>
            <ul class="list-none">
                <li>Your account ID: {{.MastodonId}}</li>
                <li>Your account username: {{.MastodonUsername}}</li>
            </ul>
        </div>
    </div>

    <form action="/minecraft/create" method="post">
        <button type="submit" class="py-2 px-3 bg-indigo-500 dark:bg-amethyst-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none">Submit</button>
    </form>
    {{ else }}
    <div class="p-8 bg-white dark:text-amethyst-200 dark:bg-slate-900 drop-shadow relative rounded-xl">
        <h2 class="text-4xl dark:text-amethyst-600 font-bold mb-8">Check your information</h2>
        <p>"{{ .MojangUsername }}" is already registered.</p>
        <form action="/minecraft/create" method="post">
            <button type="submit" class="py-2 px-3 bg-indigo-500 dark:bg-amethyst-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none">Submit again</button>
        </form>
    </div>
</div>
{{ end }}
