{{if ne .mastodonAccount.UserID "" }}
<div class="p-8 bg-white dark:bg-slate-900 drop-shadow relative rounded-xl">
    <div>
        <p class="instructions dark:text-white">
            <span class="text-amber-500 dark:text-amber-400"><a href="/minecraft/new">Add your Minecraft username</a></span>
            to our servers allowlist.
        </p>
    </div>
</div>

<div class="flex flex-wrap -mx-4 mt-8">
    {{ range .MinecraftServers }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-4">
        <div class="bg-white dark:bg-slate-900 drop-shadow rounded-lg p-4 mb-4">
            <div class="dark:text-amber-400 font-bold text-2xl mb-2 text-center">{{ .Name }}</div>
            <div class="dark:text-white font-bold text-l mb-2 h-8 text-center"><span>{{ .Software.Name }} @ {{ .Software.Version }}</span></div>
            <div
                class="transition ease-in-out delay-50 duration-300 my-10 py-4 ring-4 ring-amber-500 hover:ring-amber-400 dark:ring-red-800 shadow-2xl dark:shadow-red-800/25 hover:shadow-amber-500/50 dark:hover:shadow-amber-400/50 rounded text-white bg-slate-800 dark:bg-red-800 text-center">
                <code>{{ .Address }}</code>
            </div>
            <!--
            <p class="text-gray-700 text-base">Experience a captivating fusion of Minecraft and RPG elements on our server. </p>
            <br />
            <p class="text-gray-700 text-base">Choose your class, embark on quests, defeat bosses, and interact with a dynamic world. Engage in PvP battles, trade, and build alliances.</p>
            <br />
            <p class="text-gray-700 text-base">Join us for an immersive adventure like no other.</p>
            -->
        </div>
        <!--
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#minecraft</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#rpg</span>
        </div>
        -->
    </div>
    {{ end }}
</div>
{{end}}
