<div class="relative rounded-xl bg-white p-8 drop-shadow dark:bg-slate-900">
  <div class="w-full max-w-xs">
    <form class="mb-4 px-8 pb-8 pt-6" action="/minecraft" method="post">
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700 dark:text-amber-400" for="username">Mojang Username </label>
        <input class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" id="username" name="username" type="text" placeholder="Username" />
      </div>
      <div class="flex items-center justify-between">
        <button class="rounded-md bg-amber-500 px-3 py-2 text-sm font-semibold text-white shadow hover:bg-amber-400 focus:outline-none dark:text-slate-900" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
