<div class="relative mb-8 rounded-xl bg-white p-8 drop-shadow dark:bg-slate-900">
  <div class="w-full">
    <form class="" action="/miniblog/{{ .Post.User.NickNameURL }}/posts/{{ .Post.ID }}/delete" method="post">
      <div class="order-3 mb-2 block grow text-center text-4xl font-bold dark:text-amber-400 md:order-2 md:inline">
        <h1>Delete</h1>
      </div>
      <h2 class="mb-8 text-4xl font-bold dark:text-amber-400">Are you sure?</h2>
      <p class="dark:text-white">Do you really want to delete "{{ .Post.Title }}"?</p>
      <div class="flex items-center justify-between">
        <button class="mt-8 rounded-md bg-amber-500 px-3 py-2 text-sm font-semibold text-white shadow hover:bg-amber-400 focus:outline-none dark:text-slate-900" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>
