<div class="relative -mx-4 bg-white drop-shadow dark:bg-slate-900 md:rounded-xl md:p-8">
  <div class="w-full">
    <form class="mb-4 px-8 pb-8 pt-6" action="/miniblog/{{ .User.NickNameURL }}/posts/{{ .Post.ID }}/edit" method="post">
      <div class="order-3 mb-2 block grow text-center text-4xl font-bold dark:text-amber-400 md:order-2 md:inline">
        <h1>Edit</h1>
      </div>
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700 dark:text-amber-400" for="title">Title</label>
        <input class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" id="title" name="title" type="text" placeholder="World, I have something to tell you." value="{{ .Post.Title }}" />
      </div>
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700 dark:text-amber-400" for="body">Content (markdown compatible)</label>
        <textarea class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" rows="12" id="body" name="body" placeholder="Your awesome thought...">{{ .Post.Body }} </textarea>
      </div>
      <div class="flex items-center justify-between">
        <button class="rounded-md bg-amber-500 px-3 py-2 text-sm font-semibold text-white shadow hover:bg-amber-400 focus:outline-none dark:text-slate-900" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>
