<div class="-mx-4 mt-8 flex flex-wrap">
  <div class="w-full px-4 md:w-1/2 lg:w-1/3">
    <a href="/minecraft">
      <div class="delay-50 mb-4 rounded-lg border-2 border-amber-400 bg-white p-4 drop-shadow transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-2xl hover:shadow-gray-100/50 dark:bg-slate-900 dark:hover:bg-slate-800 dark:hover:shadow-none">
        <div class="mb-2 text-center text-2xl font-bold dark:text-amber-400">
          <span>Minecraft</span>
        </div>
        <p class="text-center text-gray-700 dark:text-white">Explore our Minecraft servers and add yourself to the allowlist!</p>
        <br />
      </div>
    </a>
  </div>
  <div class="w-full px-4 md:w-1/2 lg:w-1/3">
    <a href="/miniblog">
      <div class="delay-50 mb-4 rounded-lg border-2 border-amber-400 bg-white p-4 drop-shadow transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-2xl hover:shadow-gray-100/50 dark:bg-slate-900 dark:hover:bg-slate-800 dark:hover:shadow-none">
        <div class="mb-2 text-center text-2xl font-bold dark:text-amber-400">
          <span>Miniblog</span>
        </div>
        <p class="text-center text-gray-700 dark:text-white">Share you thoughts to the world with our Miniblogging platform.</p>
        <br />
      </div>
    </a>
  </div>
</div>
